<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cg.persistence.AdmakerDAO" >


<insert id="adimginsert" parameterType="hashmap">
insert into tbl_adImage(imid,sid)values('${vo.imid}','${sid}')
</insert>

<insert id="adgifinsert" parameterType="hashmap">
insert into tbl_adgif(gifno,gifname,sid,target1,target2,target3,target4,area,startdate,enddate)values(seq_adgif_gifno.nextval,'${gifname}','${vo.sid}','${vo.target1}','${vo.target2}','${vo.target3}','${vo.target4}','${vo.Area}','${vo.startdate}','${vo.enddate}')

</insert>

<select id="elevator" resultType="org.cg.domain.ElevatorVO" parameterType="hashmap" >
<![CDATA[
SELECT * FROM TBL_ELEVATOR where lng <('${svo.Dlat}'+ 0.000015*('${avo.area}')) and lng > ('${svo.Dlat}' - 0.000015*'${avo.area}') and lat <('${svo.Dlng}'+ 0.000015*'${avo.area}') and lat > ('${svo.Dlng}' - 0.000015*'${avo.area}')  
	]]>
</select>

<select id="getArea" resultType="int" >
select area from(SELECT ROWNUM, area FROM TBL_ADGIF where sid =#{sid} ORDER BY updatedate DESC) where rownum =1
</select>

<select id="dueDate" resultType="int">
select extract(day from enddate-sysdate) dd  from TBL_ADGIF where sid=#{sid} and rownum=1 order by gifno desc 
</select>


</mapper>
  
