<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cg.persistence.MemberDAO">

	<select id="listAll" resultType="org.cg.domain.MemberVO" parameterType="org.cg.domain.Criteria">
		
		select * from (SELECT rownum rnum ,mid, mname,mage,maddr, mgender, regdate, updatedate FROM 
		( SELECT mid, mname,mage,maddr, mgender, regdate, updatedate FROM tbl_member where mage>0
		
		<choose>
			<when test='type=="x"'>
			 
			</when>
			<when test='type=="i"'>
			  and (mid like '%'|| #{keyword} ||'%')
			</when>
			<when test='type=="n"'>
			  and (mname like '%'|| #{keyword} ||'%')
			</when>
			<when test='type=="a"'>
			  and (mage like '%'|| #{keyword} ||'%')
			</when>
			<when test='type=="g"'>
			  and (mgender like '%'|| #{keyword} ||'%')
			</when>
			<when test='type=="d"'>
			  and (maddr like '%'|| #{keyword} ||'%')
			</when>
		</choose>
		order by regdate desc) 
		  <![CDATA[ tbl_member where rownum <= #{pageNum}) where rnum >= #{skip} ]]>
	</select>

	<select id="totalCount" resultType="Int" parameterType="org.cg.domain.Criteria">
		select count(*) from tbl_Member where mage>0 
		<choose>
			<when test='type=="x"'>
			 
			</when>
			<when test='type=="i"'>
			  and (mid like '%'|| #{keyword} ||'%')
			</when>
			<when test='type=="n"'>
			  and (mname like '%'|| #{keyword} ||'%')
			</when>
			<when test='type=="a"'>
			  and (mage like '%'|| #{keyword} ||'%')
			</when>
			<when test='type=="g"'>
			  and (mgender like '%'|| #{keyword} ||'%')
			</when>
			<when test='type=="d"'>
			  and (maddr like '%'|| #{keyword} ||'%')
			</when>
		</choose>
		
		
	</select>

	<insert id="create" parameterType="org.cg.domain.MemberVO">
		insert into	tbl_Member(mid,mpw,mname,mage,mgender,maddr) values ('${mid}','${mpw}','${mname}','${mage}','${mgender}','${maddr}')
	</insert>

	<delete id="delete" parameterType="org.cg.domain.MemberVO">
		delete from tbl_Member where mid='${mid}'

	</delete>
	
	<update id="update" parameterType="org.cg.domain.MemberVO">
		UPDATE tbl_Member SET mpw = '${mpw}', mname='${mname}',mage='${mage}',mgender='${mgender}', maddr='${maddr}', updatedate=sysdate WHERE mid = '${mid}'
	</update>
	
	<select id="qlistAll" resultType="org.cg.domain.MQuestionVO" parameterType="org.cg.domain.Criteria2">
		
		select * from (SELECT rownum rnum ,mqno, mid, sid, title, question, regdate, updatedate FROM 
		( SELECT mqno, mid, sid, title, question, regdate, updatedate FROM tbl_Mquestion where mqno>0
		
		<choose>
			<when test='type2=="x"'>
			 
			</when>
			<when test='type2=="i"'>
			  and (mid like '%'|| #{keyword2} ||'%')
			</when>
			<when test='type2=="t"'>
			  and (title like '%'|| #{keyword2} ||'%')
			</when>
			<when test='type2=="c"'>
			  and (question like '%'|| #{keyword2} ||'%')
			</when>
			
		</choose>
		
		<![CDATA[
		 order by regdate desc) 
		tbl_Mquestion where rownum <= #{pageNum2}) where rnum >= #{skip2}
		  ]]>
	</select>
	
	<select id="qtotalCount" resultType="Int" parameterType="org.cg.domain.Criteria2">
		select count(*) from tbl_Mquestion where mqno>0
		
		<choose>
			<when test='type2=="x"'>
			 
			</when>
			<when test='type2=="i"'>
			  and (mid like '%'|| #{keyword2} ||'%')
			</when>
			<when test='type2=="t"'>
			  and (title like '%'|| #{keyword2} ||'%')
			</when>
			<when test='type2=="c"'>
			  and (question like '%'|| #{keyword2} ||'%')
			</when>
			
		</choose>
		
		
	</select>
	
	<select id="qread" resultType="org.cg.domain.MQuestionVO">
	SELECT * FROM tbl_Mquestion where mqno=#{mqno}
	</select>
	
	
	
	<select id="qlist" resultType="org.cg.domain.MQuestionVO" parameterType="org.cg.domain.Criteria">
		<![CDATA[
		select * from (SELECT rownum rnum ,mano, mqno,title,content, regdate, updatedate FROM 
		( SELECT mano, mqno,title,content, regdate, updatedate FROM TBL_MANSWER order by regdate desc) 
		TBL_MANSWER where rownum <= #{pageNum}) where rnum >= #{skip} and mqno= 3
		  ]]>
	</select>
	


</mapper>