<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="org.cg.persistence.NoticeDAO">
  <select id="list" resultType="org.cg.domain.NoticeVO" parameterType="org.cg.domain.Criteria">
 
select * from (SELECT rownum rnum,nno, ntitle, ncontent, nwriter, regdate,updatedate,hit FROM 
( SELECT nno, ntitle, NCONTENT, nwriter, regdate,UPDATEDATE,hit FROM tbl_notice where nno>0
  <choose>
  <when test='type=="t"'>
  and (ntitle like '%'|| #{keyword} ||'%')
  </when>
  <when test='type=="c"'>
  and (ncontent like '%'|| #{keyword} ||'%')
  </when>
  <when test='type=="w"'>
  and (nwriter like '%'|| #{keyword} ||'%')
  </when>
  </choose>
 order by nno desc) 
<![CDATA[
tbl_notice where rownum <= #{pageNum}) 
where rnum >= #{skip}
  ]]>
 
  </select>
  
  <select id="count" resultType="int" parameterType="org.cg.domain.Criteria">
  select count(nno) from TBL_NOTICE where nno>0
   <choose>
  <when test='type=="t"'>
  and (ntitle like '%'|| #{keyword} ||'%')
  </when>
  <when test='type=="c"'>
  and (ncontent like '%'|| #{keyword} ||'%')
  </when>
  <when test='type=="w"'>
  and (nwriter like '%'|| #{keyword} ||'%')
  </when>
  </choose>
  </select>
  
  <select id="read" parameterType="org.cg.domain.NoticeVO" resultType="org.cg.domain.NoticeVO">
  select * from tbl_notice where nno = #{nno}
  </select>
  
  <insert id="insert" parameterType="org.cg.domain.NoticeVO">
  insert into TBL_NOTICE(NNO,ntitle,NCONTENT,nwriter,nimage) values (seq_notice_nno.nextval,#{ntitle},#{ncontent},#{nwriter},#{nimage})
  </insert>
  
  <update id="update" parameterType="org.cg.domain.NoticeVO">
  update TBL_NOTICE set ntitle=#{ntitle},NCONTENT=#{ncontent},NWRITER=#{nwriter},updatedate=sysdate where nno = #{nno}
  </update>
  
  <delete id="delete" parameterType="org.cg.domain.NoticeVO">
  delete  from TBL_NOTICE where nno = #{nno}
  </delete>
  
  <update id="updateHit" parameterType="org.cg.domain.NoticeVO">
	update tbl_notice set hit = hit+1 where nno = #{nno}
  </update>
  </mapper>
  