<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cg.persistence.StoreDAO">

	<select id="login" resultType="org.cg.domain.StoreVO">
		select * from tbl_store where sid = #{sid} and spw = #{spw}
	</select>

	<insert id="storeregi">
		INSERT INTO TBL_STORE(sid, spw,sname,saddr,lat,lng,sphone,semail,saddrm) VALUES('${sid}', '${spw}','${sname}','${saddr}','${lat}','${lng}','${sphone}','${semail}','${saddrm}')
	</insert>
	
	<update id="storemodi" parameterType="org.cg.domain.StoreVO">
		UPDATE TBL_STORE SET spw='${spw}',sname='${sname}',saddr='${saddr}',lat='${lat}',lng='${lng}',sphone='${sphone}',semail='${semail}',saddrm='${saddrm}' WHERE sid ='${sid}' 
	</update>
	
	<update id="keepLogin">
		update tbl_store set sessionKey = #{sessionID}, sessionLimit = #{next} where sid = #{sid}
	
	</update>

</mapper>